.article-enter {
  opacity: 0;
}
.article-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.article-exit {
  opacity: 1;
}
.article-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}